<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="son" class="com.kuang.bean.person">
        <property name="str" value="hello"/>
    </bean>
    <bean id="son1" class="com.kuang.bean.person">
        <property name="str" value="hello1"/>
    </bean>
</beans>
